body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    column-gap: 30px;
}

.container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box {
    background-color: #291F2B;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    margin: 10px;
    padding: 20px;
    text-align: left;
    width: 700px;
    height: 200px;
}

.box h1 {
    font-size: 30px;
    margin-top: 0;
}

.box li {
    font-size: 20px;
    margin: 10px 0;
}

.graph {
    background-color: #291F2B;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    height: 460px;
}

img {
    width: 100%;
    max-width: 560px;
    margin-top: 5%;
    border-radius: 20px;
}

.graph h1 {
    font-size: 30px;
    margin-top: 0;
}

.graph p {
    font-size: 20px;
    margin-bottom: 0;
}

#number-list {
    float: none;
    font-family: Courier New, Courier, monospace;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #FF5DA7;
}

.guessed {
    color: #FF5DA7;
}

.unguessed {
    color: #917794;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 12px 24px;
    background-color: #644b69;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: bold;
    font-family: Courier New, Courier, monospace;
    font-size: 18px;
    letter-spacing: 0px;
    text-align: center;
}

button:hover {
    background-color: #917794;
}

#randomNumber {
    font-weight: bold;
    font-family: Courier New, Courier, monospace;
    font-size: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #FF5DA7;
}

#progressbar {
    background-color: black;
    border-radius: 15px;
    padding: 5px;
    width: 700px;
}

#progressbar>div {
    background-color: #FF5DA7;
    width: 9.18%;
    height: 30px;
    border-radius: 10px;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white;
    font-weight: bold;
}